<app-header></app-header>
<div class="container">
  <h3><a routerLink="/model">Object</a> > Attributes ({{attributes?.length}})</h3>
  <div class="add-data">
    <button type="button" class="btn btn-primary btn-md btn-right" (click)="onCreate()">Add New Attribute</button>
  </div>
  <div class="table-group table-responsive table-bordered">
    <table id="reports-table" class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th colspan="2">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let attribute of attributes; let i = index">
        <td>
          {{attribute.name}}
        </td>
        <td>
          {{attribute.value}}
        </td>
        <td>
          <a (click)="editData(attribute)">
            <i class="fa fa-pencil"></i>
          </a>
        </td>
        <td>
          <a style="color: red" (click)="deleteData(attribute, i)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination-wrapper">
      <!--<p-paginator [rows]="20" [totalRecords]="totalRecords" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>-->
    </div>
  </div>
</div>

<!-- edit dialog-->
<ngx-smart-modal #editModal identifier="editModal" [dismissable]="false">
  <div class="dg-heaser">
    <h3>
      <span *ngIf="editAttribute.id">Edit Attribute</span>
      <span *ngIf="!editAttribute.id">Create Attribute</span>
    </h3>
  </div>
  <div class="dg-body">
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="control-label col-sm-3">Name</label>
        <div class="col-sm-9 right-div">
          <input type="text" class="form-control" [(ngModel)]="editAttribute.name" placeholder="Name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Value</label>
        <div class="col-sm-9 right-div">
          <input type="text" class="form-control" [(ngModel)]="editAttribute.value" placeholder="Value" name="value" required>
        </div>
      </div>
      <div class="form-group">
        <div class="control-btn">
          <button *ngIf="editAttribute.id;" type="submit" class="btn btn-primary btn-md btn-right"
                  [disabled]="form.form.invalid">Update
          </button>
          <button *ngIf="!editAttribute.id;" type="submit" class="btn btn-primary btn-md btn-right"
                  [disabled]="form.form.invalid">Create
          </button>
          <button type="button" class="btn btn-default btn-md btn-right" (click)="editModal.close()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>

<!-- delete dialog-->
<ngx-smart-modal #deleteModal identifier="deleteModal" [dismissable]="false">
  <div class="dg-heaser">
    <h3>
      <span>Confirmation</span>
    </h3>
  </div>
  <div class="dg-body">
    <h4><i class="fa fa-warning"></i> Are you sure delete this Attribute?</h4>
  </div>
  <div class="form-group">
    <div class="control-btn">
      <button type="button" class="btn btn-success btn-md btn-right" (click)="onDelete()">Yes
      </button>
      <button type="button" class="btn btn-primary btn-md btn-right" (click)="deleteModal.close()">No</button>
    </div>
  </div>
</ngx-smart-modal>